@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Manrope", sans-serif;
  background: #070b16;
  color: #f8fbff;
}

body {
  overflow-x: hidden;
}

button,
input,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}